version: "3.4"

services:
  onlyoffice-rabbitmq:
    image: rabbitmq:management
    container_name: app-rdrive-rabbitmq
    hostname: onlyoffice-rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - ./docker-data/rabbitmq/data:/var/lib/rabbitmq
      - ./docker-data/rabbitmq/log:/var/log/rabbitmq
    networks:
      - tdrive_network
    restart: unless-stopped

  onlyoffice-postgresql:
    image: postgres:13
    container_name: app-rdrive-postgresql
    hostname: onlyoffice-postgresql
    environment:
      - POSTGRES_DB=onlyoffice
      - POSTGRES_USER=onlyoffice
      - POSTGRES_PASSWORD=onlyoffice
    ports:
      - "5433:5432"
    volumes:
      - ./docker-data/onlyoffice-postgres:/var/lib/postgresql/data
    networks:
      - tdrive_network
    restart: unless-stopped

  onlyoffice:
    image: onlyoffice/documentserver
    container_name: app-rdrive-onlyoffice
    hostname: onlyoffice
    ports:
      - "8090:80"
    environment:
      - AMQP_URI=amqp://guest:guest@onlyoffice-rabbitmq
      - DB_HOST=onlyoffice-postgresql
      - DB_NAME=onlyoffice
      - DB_PORT=5432
      - DB_TYPE=postgres
      - DB_USER=onlyoffice
      - JWT_ENABLED=false
      - ALLOW_META_IP_ADDRESS=true
      - ALLOW_PRIVATE_IP_ADDRESS=true
    depends_on:
      - onlyoffice-rabbitmq
      - onlyoffice-postgresql
    volumes:
      - ./docker-data/onlyoffice/Data:/var/www/onlyoffice/Data
      - ./docker-data/onlyoffice/lib:/var/lib/onlyoffice
      - ./docker-data/onlyoffice/log:/var/log/onlyoffice
    networks:
      - tdrive_network
    restart: unless-stopped

networks:
  tdrive_network:
    driver: bridge
